h1{
 
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    text-align: center;
    padding-top: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
    margin: 0;
    padding: 0;
    width: 300px;
    height: auto;
    margin-right: 30px;
    box-sizing: inherit;
    text-align: left;
    overflow: visible;
    
  }
  
  .card-box {
    padding: 15px;
  }
  
  .card-cover-image img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    object-fit: cover;
  
  }
  
  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 15px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }


  