* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and(max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

input:focus,
textarea:focus {
  outline: none;
}
