.homepage {
  text-align: center;
 
}

.homepage h1 {
  font-size: 3rem;
  letter-spacing: -2px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
 
}

