.navbar {
  display: flex;
  justify-content: space-between;
  &__left-section {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: green;
  }

  &__right-section {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
  }
}
