.recommended-video__card {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.recommended-video__card-img {
  width: 40%;
  margin-left: 2rem;
}

.recommended-video__card-text {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
