* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1c5476;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5em;
  height: 64px;
}

.burger-btn {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #1c5476;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger-btn span {
  background-color: #fff;
  width: 24px;
  height: 3px;
  margin-bottom: 4px;
}

.burger-btn:hover {
  background-color: #164561;
  cursor: pointer;
}

.sidebar {
  background-color: #fff;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 900;
}
.sidebar-hidden {
  display: none;
}

.sidebar-control {
  background-color: #1c5476;
  height: 64px;
  width: 100%;
  border: none;
  text-align: center;
  padding: 1.3rem;
  color: #fff;
}
.sidebar-control:hover {
  cursor: pointer;
  background-color: #164561;
}

.sidebar-item {
  display: block;
  padding: 1rem;
  color: #41496a;
  text-decoration: none;
  border-bottom: 1px solid #808080;
}
.sidebar-item:hover {
  background-color: #ececec;
}

.search-bar {
  background-color: #256a94;
  padding: 0.5rem;
  margin-left: 30px;
  border-radius: 5px;
}
.search-bar i {
  margin: 0 10px 0 10px;
}

.search-bar input {
  background: transparent;
  width: 80%;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

.search-bar input::placeholder {
  color: #ccc;
}

.search-bar input:focus {
  outline: none;
}

.theme-toggle {
  padding: 0.5rem;
  position: relative;
  margin-left: auto;
}

.theme-toggle input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 13px;
  margin-right: 0.6rem;
  cursor: pointer;
  background-color: #153c54;
  border-radius: 30px;
  transition: 0.3s;
}

.theme-toggle input[type='checkbox']::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 7px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease;
}

.theme-toggle input[type='checkbox']:checked:before {
  transform: translateX(15px);
  background: #19857b;
}

.theme-toggle input[type='checkbox']:checked {
  background-color: #1e9489;
}

.navbar-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 1rem;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.content-title {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  padding: 1.5rem;
}

.no-decoration-text {
  text-decoration: none;
}

@media (max-width: 960px) {
  .theme-toggle,
  .navbar-login-button {
    display: none;
  }
}

@media (max-width: 600px) {
  .search-bar,
  .search-bar input {
    width: 90%;
  }
}

@media (max-width: 470px) {
  .search-bar input {
    width: 60%;
  }
}
